/* a:link {
    color: cyan;
    background-color: transparent;
    text-decoration:none;
}

a:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: brown;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding : 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: red;
}